.footer {
    background-color: $off-black;
    border-top: 1px solid $off-white;
    color: white;
    text-align: center;

    h4 {
        font-weight: 400;
    }

    form {
        margin-bottom: $l-size;
    }

    input {
        font-size: $s-size;
        font-weight: 300;
        letter-spacing: 1px;

        &:focus {
            outline: none;
        }
    }
}

.footer input[type=email] {
    @extend %equal-border;
    background-color: $off-black;
    border-left: 0;
    border-right: 0; 
    border-top: 0;
    color: white;
    height: $l-size;
    text-align: center;
    width: $module * 9;

    &:focus {
        border-bottom: 1px solid $off-purple;
    }
}

.footer input[type=submit] {
    background-color: $off-black;
    border: 1px solid $off-white;
    border-radius: $s-size * 0.5;
    color: $off-white;
    cursor: pointer;
    height: 3.9rem;
    margin-left: $s-size;
    width: $module * 4;

    &:hover {
        border: 1px solid white;
        color: white;
    }
}

.footer-menu li {
    display: inline-block;
    padding: $s-size;

    a {
        font-size: $s-size * 1.2;

        &:after {
            @extend %equal-border;
            content: '';
            display: block;
            transition: width .5s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

.social a {
    color: white;
    display: inline-block;
    font-size: $m-size * 1.25;
    padding: 0 $s-size $s-size;

    &:hover {
        color: $off-purple;
    }
}

small {
    display: flex;
    justify-content: space-between;
    padding: 0 $l-size;
}