.header {
    // background-image: url(./tlo.jpg);
    // background-size: cover;
    background-color: rgb(223, 247, 239);
}

.header-bar {
    background-color: $off-black;
    border-bottom: 1px solid #c0b5c6;
    height: 25px;
    padding: 15px 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    font-family: 'Satisfy', cursive;
    font-size: 26px;
    padding-left: 30px;
}

.navbar a {
    text-decoration: none;
}

.header-nav {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.header-nav li {
    display: inline-block;
    padding: 0 30px 0 0;
    position: relative;
}

.header-nav li:after {
    // border-bottom: 3px solid #28ce5f;
    border-bottom: 3px solid #a96af9;
    content: '';
    display: block;
    width: 0;
    padding-bottom: 5px;
    transition: width .3s;
}

.header-nav li:hover:after {
    width: 100%;
}

.main-title {
    margin: 150px 0 50px;
    text-align: center;
    border-bottom: 1px solid #c0b5c6;
}