.header {
    position: relative;

    img {
        @extend %background-image;
    }
}

.main-title {
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

    h1 {
        font-family: $font-extra;
        font-size: $xl-size;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.header-bar {
    @extend %equal-border;
    background-color: $off-black;
    height: $s-size * 2;
    opacity: .85;
    padding: $s-size 0 $s-size;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    font-family: $font-extra;
    font-size: $m-size * 1.5;
    padding-left: $l-size;
}

.header-nav {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        padding: 0 $xl-size 0 0;
        position: relative;

        &:after {
            @extend %equal-border;
            content: '';
            display: block;
            padding-bottom: $s-size * 0.5;
            transition: width .3s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

@media (min-width: 400px) {
    main title {
        h1 {
            text-decoration: underline;
        }
    }
}