.gallery {
  margin-top: $xl-size;
  text-align: center;

  h2 {
    @extend %equal-h2;
    padding: $l-size;
    padding-top: $xl-size;
  }
}

@font-face {
  font-family: Ionicons;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0);
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix) format("embedded-opentype"), url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons) format("svg");
}

.image-gallery-fullscreen-button::before, .image-gallery-left-nav::before,  .image-gallery-right-nav::before {
  display: inline-block;
  font-family: Ionicons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}

.image-gallery-content.fullscreen {
  background: black;
}

.image-gallery-content.fullscreen .image-gallery-slide {
  background: black;
}

.image-gallery-slide-wrapper {
  position: relative;
}

.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
  display :inline-block;
  width: calc(100% - 113px);
}

.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-fullscreen-button,.image-gallery-left-nav,.image-gallery-right-nav {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  position: absolute;
  z-index: 4;
}

.image-gallery-fullscreen-button::before, .image-gallery-left-nav::before, .image-gallery-right-nav::before {
  color: white;
  line-height: .7;
  text-shadow: 0 2px 2px $off-black;
  transition: color .2s ease-out;
}

.image-gallery-fullscreen-button:hover::before, .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
  color: $off-purple;
}

.image-gallery-fullscreen-button, .image-gallery-play-button {
  bottom: 0
}

.image-gallery-fullscreen-button::before, .image-gallery-play-button::before {
  font-size: 2.7em;
  padding: $s-size $m-size;
  text-shadow: 0 1px 1px $off-black;
}

.image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before {
  color: white;
  }

.image-gallery-fullscreen-button {
  right: 0;
}

.image-gallery-fullscreen-button::before {
  content: "";
}

.image-gallery-fullscreen-button.active::before {
  content: "";
}

.image-gallery-fullscreen-button.active:hover::before {
  transform:scale(.9);
}

.image-gallery-left-nav, .image-gallery-right-nav {
  color: white;
  font-size: 5em;
  padding: 60px 15px;
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-left-nav[disabled], .image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: .6;
  pointer-events: none;
}
@media (max-width:768px) {
  .image-gallery-left-nav, .image-gallery-right-nav {
    font-size: 3.4em;
    padding: 30px 15px;
  }
}
@media (max-width:480px) {
  .image-gallery-left-nav, .image-gallery-right-nav {
    font-size: 2.4em;
    padding: 0 15px;
  }
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-left-nav::before {
  content: "";
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery-right-nav::before {
  content: "";
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.image-gallery-slide {
  background:white;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.image-gallery-slide.center {
  position: relative;
}

.image-gallery-slide img {
  width: 100%;
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}

.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.image-gallery-bullets .image-gallery-bullet {
  appearance: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 0 $off-black;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: 0;
  padding: 5px;
}
@media (max-width:768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px; padding: 3px;
  }
}
@media (max-width:480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}

.image-gallery-bullets .image-gallery-bullet.active {
  background:white;
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}

.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}

.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 108px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    width: 81px;
  }
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}

.image-gallery-thumbnails-wrapper.left {
  margin-right: 5px;
}
@media (max-width:768px) {
  .image-gallery-thumbnails-wrapper.left {
    margin-right: 3px
  }
}

.image-gallery-thumbnails-wrapper.right {
  margin-left: 5px
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.right {
    margin-left: 3px
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width:768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  transition: transform .45s ease-out;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent
  ;transition: border .3s ease-out;
  width: 100px;
}
@media (max-width:768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 75px;
  }
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  position: relative;
}

.image-gallery-thumbnail img {
  vertical-align: middle;
  width: 100%;
}

.image-gallery-thumbnail.active {
  border: 4px solid $off-purple;
}
@media (max-width:768px) {
  .image-gallery-thumbnail.active {
    border: 3px solid $off-purple
  }
}