@import './base/settings';
@import './base/base';

@import './components/about';
@import './components/footer';
@import './components/gallery';
@import './components/header';
@import './components/offer';

@import './base/small';
@import './base/medium';