html {
    font-size: 62.5%;
}

body {
    background-color: white;
    color: $off-black;
    font-family: $font-stack;
    font-size: $m-size;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
}