
.icon-camera-alt:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-pied-piper:before { content: '\f2ae'; } /* '' */